.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 50px;
}
.page-img img {
    height: 200px;
    border-radius: 50%;
}

.page-name {
    font-size: 1.5em;
    padding-top: 10px;
}
.page-title {
    font-size: 2em;
    font-weight: bolder;
}

.page-smallAbout {
    color:rgb(147, 163, 163);
}
.page-feildSet {
    border: 2px solid rgb(79, 94, 123);
    padding: 15px;
    border-radius: 10px;
}
.page-button {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.page-button a,button {
    width: 100%;
    border: 2px solid rgb(255, 255, 255);
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
}
.page-button a,button:hover {
    box-shadow: 0 2px 8px rgba(27, 77, 194, 0.693);
}

.page-connect {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    text-align: center;
}

.page-connect a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: #fefefe;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 0.9em;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.page-connect a:hover {
    background-color: #5a666e;
}



@media screen and (max-width: 400px) {
    .page-title {
        font-size: 1em;
    }

    .page-name {
        font-size: 1em;
    }

    .page-img img {
        height: 150px;
    }

    .page-connect {
        padding: 10px 0;
        gap: 15px;
    }

    .page-connect a {
        padding: 5px 10px;
        font-size: 0.85em;
    }
}
