.project-container {
    /* border: 2px solid wheat; */
    display: flex;
    border: 2px solid wheat;
    border-radius: 10px;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.project-item {
    border: 2px solid white;
    border-radius: 10px;
    margin: 20px;
    overflow: hidden;
    max-width: 500px;
}

.project-name {
    font-family: 'Courier New', Courier, monospace;
    padding-left: 10px;
}

.project-img {
    padding: 10px;
}

.project-img img {
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: 50%;
}

.project-desc {
    font-style: italic;
    padding: 10px;
    color: rgb(162, 178, 177);
}

.project-tech {
    max-width: 60%;
}
.project-tech span{
    display: inline-block;
    border: 1px solid white;
    border-radius: 20px;
    margin: 5px;
    font-size: 13px;
    padding: 0px 5px;
}

.project-url {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.project-url span {
    border: 2px solid white;
    border-radius: 20px;
    margin: 5px;
    font-size: 13px;
    padding: 1px 5px;
}

.project-url a {
    color:azure;
    text-decoration: none;
}
.project-url a:hover {
    color: palegreen;
}


@media screen and (max-width: 800px){
    .project-container {
        /* border: 2px solid wheat; */
        display: flex;
        border: 2px solid wheat;
        border-radius: 10px;
        padding: 20px;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0px;
    }
    .project-item {
        border: 2px solid white;
        border-radius: 10px;
        margin: 20px;
        max-width: 80%;
    }
}