.project-container {
    /* border: 2px solid wheat; */
    display: flex;
    border: 2px solid wheat;
    border-radius: 10px;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.project-item {
    border: 2px solid white;
    border-radius: 10px;
    margin: 20px;
    overflow: hidden;
    max-width: 500px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
    padding: 5px;
}

.project-name {
    font-family: 'Courier New', Courier, monospace;
    padding-left: 10px;
}

.project-img {
    padding: 10px;
    border-bottom: 1px solid black;
    margin: 5px;
}

.project-img img {
    width: 100%;
    margin-bottom: 0px;
}

.project-desc {
    font-style: italic;
    padding: 10px;
    color: rgb(118, 130, 129);
}

.project-tech {
    max-width: 60%;
}
.project-tech span{
    display: inline-block;
    border-radius: 20px;
    margin: 5px;
    font-size: 13px;
    padding: 0px 5px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.project-url {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.project-url span {
    border: 2px solid white;
    border-radius: 20px;
    margin: 5px;
    font-size: 13px;
    padding: 1px 5px;
}

.project-url a {
    color:rgb(0, 0, 0);
    text-decoration: none;
}
.project-url a:hover {
    color: rgb(74, 106, 108);
}


@media screen and (max-width: 800px){
    .project-container {
        /* border: 2px solid wheat; */
        display: flex;
        border: 2px solid wheat;
        border-radius: 10px;
        padding: 20px;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0px;
    }
    .project-item {
        border: 2px solid white;
        border-radius: 10px;
        margin: 20px;
        max-width: 80%;
    }
}